.container {
    width: 100%;
    background-color: #f7f7f7;
    height: 165px;
}

.aboutContainer {
    display: flex;
    padding: 0px 20px;
    justify-content: space-between;
    align-items: center;
    p {
        display: flex;
        align-items: center;
        margin:5px;    
        font-size: large;
        color: #466e7a;
    }
    img {
        margin-right: 10px;
    }

}

.logo {
    width: 275px;
}

.nav {
    background-color: #f7f7f7;  
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.185);
    position: sticky;
    top: 0px;
    left: 0px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    div {
        position: relative;  
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;  
    }
    p {
        text-align: center;
        margin: 0 20px;
        color: #466e7a;
    }
    .list {
        box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.185);
        position: absolute;
        background-color: rgb(82, 160, 206);
        border-top: none;
        border-bottom-right-radius: 8px;
        border-bottom-left-radius: 8px;
        width: 100%;
        top: 60px;
        height: 300px;
    }
}

.navLink {
    margin: 0 10px;
    color: #466e7a;
}